.cover__subtitle {
  position: relative;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  opacity: 1;
  z-index: 1;
  margin-top: 32px;
  max-width: 360px;
}

@media (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    margin-top: 16px;
  }
}
