.cover__subtitle {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  opacity: 1;
  z-index: 1;
  margin: 32px 412px 0;

}
@media (max-width: 1024px) {
  .cover__subtitle {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 32px 332px 0;
  }
}
@media (max-width: 1024px) {
  .cover__subtitle {
    margin: 32px 204px 0;
  }
}
@media (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    min-height: 48px;
    margin: 16px 16px 0;
  }
}
