.lead__image {
  width: 100%;
  min-height: 615px;
  background: url(../../../images/lead-polka.jpg) no-repeat;
  background-size: cover;
  margin: 56px 0 0;
}

@media (max-width: 768px) {
  .lead__image {
    min-height: 480px;
    padding: 28px;
  }
}
@media (max-width: 320px) {
  .lead__image {
    min-height: 200px;
    margin: 40px 0 0;
    padding: 16px;
  }
}
