.lead__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  margin: 56px 0 0;
  background-position: center;
}

@media (max-width: 768px) {
  .lead__image {
    max-width: calc(100% + 56px);
  }
}
@media (max-width: 320px) {
  .lead__image {
    margin: 40px 0 0;
    max-width: calc(100% + 32px);
  }
}
