.lead__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin: 0 192px 64px;
  text-align: center;
}

@media (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 192px 56px;
  }
}
@media (max-width: 768px) {
  .lead__subtitle {
    margin: 0 64px 56px;
  }
}
@media (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
}
