.cover {
  position: relative;
}

@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}
@media (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}
@media (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}


