.cover__title {
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  opacity: 1;
  z-index: 1;
  margin: 0 316px;


}
@media (max-width: 1024px) {
  .cover__title {
    margin: 0 236px;
  }
}
@media (max-width: 768px) {
  .cover__title {
    margin: 0 110px;
  }
}
@media (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 40px;
  }
}
