.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 92px 48px 24px;
}
@media (max-width: 768px) {
  .footer {
    margin: 88px 24px 24px;
  }
}
@media (max-width: 320px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 64px 24px 0;
  }
}
